body {
    background-color: #8bbf9f;
  }

  header {
    
    color: #fb8b24;
  }

.home-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    height: 90px;
  }
  
  nav a {
    background-color:#8bbf9f ;
    color: white;
    font-family: Abril Fatface;
    padding: 10px;
  }

.hero {
    display: flex;
    justify-content: center;
}

header {
    margin-bottom: 40px;
  }

  #hero-box {
    position: relative;
}

#hero-msg {
    position: absolute;
    top: 10%;
    left: 30%;
    transform: translate(-50%, -50%);
}

#hero-msg h1,
#hero-msg h4 {
    color: #fb8b24;
}

#hero-img {
    width: 700px;
    
}

main p:first-of-type {
    text-align: center;
    font-family: Satisfy;
    color: #fb8b24;
    background-color: white;
}

main img:nth-of-type(-n+3) {
    width: 300px;
}

main .banner3 img{
    width: 500px;
}

main .banner3 {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.banner1 {
    width: 30%;
    margin: 50px;
    float: right;
    order: 2;
}

  .banner2 {
    width: 30%;
    margin: 50px;
    float: right;
    order: 3;
}

footer {
    background-color: #be5e70;
}

.Social {
    float: right;
    margin-right: 10px;
}

footer p a {
    color: rgb(19, 1, 2);
    margin-right: auto;
}

footer {
    text-align: left;
    padding: 3px;
    background-color: #be5e70;
    color: rgb(49, 2, 2);
    font-size: 16px;
}

main p {
    background-color: LightGray;
    font-family:[Satisfy];
}

main p {
    font-size: 20px;
    color: rgb(54, 54, 231);
    
}

main p:last-child {
    border: 1px solid black;
    padding: 10px;
}

.main-banner3 p:last-child {
    border: 1px solid black;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
}

  

.banner3{
  position: relative;
}

.right-side {
    position: absolute;
    top: 70%;
    right: 0;
    transform: translateY(-50%);
    width: 150px;
    height: 75px;
    word-wrap: break-word;
    border: 1px solid black;
    padding: 10px;
    font-size: 0.8em;
}

.center-text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-flex {
  display: flex;
  flex-wrap: wrap;
}

.Social{
  margin-left: auto;
}

.center-text {
  display: inline-block;
  border: 1px solid black;
}

.banner-float {
  float: left;
}

.banner{
  margin-top: 130px;
}

.white-bg {
  background-color: white;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding:2px;
    text-align:center
}
.title{
    color:grey;
    font-size:18px
}
button{
    border:none;
    outline:none;
    display:inline-block;
    padding:8px;
    color:white;
    background-color:#000;
    text-align:center;
    cursor:pointer;width:100%;
    
   font-size:18px
 }

 button:hover{
   opacity:.7
 }
 
 a{
   text-decoration:none
 }
